body {
	margin-top: 70px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}
.navbar-brand a{
    font-color: #FFFFFF;
}

.glyphicon {
	margin-left: 7px;
	padding-right: 5px;
}
#fb-root {
    display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

#vk_like, .fb-like, .twitter-share-button{
	float: left;
	margin-top: 7px;
	clear: both;
}

div.g-plusone a
{
  position: absolute;
  width: 32px;
  height: 56px;
  top: 7px;
  left: 4px;
  background-image: url('images/google-plus.png');
  background-repeat: no-repeat;
}

div.g-plusone a:hover
{
  position: absolute;
  width: 32px;
  height: 56px;
  top: 0;
  left: 4px;
  background-image: url('images/google-plus.png');
  background-repeat: no-repeat;
}

#social {
	margin-left: 7px;
}


footer {
	margin: 50px 0;
}

