---
layout: default
title: "Библиотека программиста" 
published: true
---

<div id="home">
    <h1>Каталог постов по категориям</h1>
{% for category in site.categories %}
  <h2>{{ category | first }}</h2>
    <ul class="list-group">
    {% for posts in category %}
        {% for post in posts %}
            {% if post.url %}
                <li class="list-group-item"><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</div>

