<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Библиотека программиста v2.0</title>
    <script src="https://code.angularjs.org/1.3.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0/angular-sanitize.js"></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/script.js"></script>
</head>
<body>
    <a href="#" class="back-to-top" style="display: inline;">
        <i class="fa fa-arrow-circle-up"></i>
    </a>
    <div class="container">
        <h1>Библиотека программиста v2.0</h1>
        <div ng-app="app">
            <div ng-controller="cntntAppCtrl">
                <form ng-submit="submit()">
                    <div class="row">
                      <div class="col-lg-6">
                          <input type="text" ng-model="querySub" class="form-control" placeholder="Введите слово или выражение, по которому должно проходить">
                      </div>
                      <div class="col-lg-6">
                          <input type="text" ng-model="queryMatchSub" class="form-control" placeholder="А сюда в виде регулярного выражения(без указания флагов и слешей)">
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-lg-6"></div>
                      <div class="col-lg-6">
                          <input type="text" ng-model="queryNotMatchSub" class="form-control" placeholder="Регулярное выражение, по которому не должно проходить">
                      </div>
                    </div><br>
                    <div class="row">
                      <div class="col-lg-6"></div>
                      <div class="col-lg-6">
                          <button type="submit" class="btn btn-primary" value="Submit">Готово!</button>
                      </div>
                    </div>
                </form>

                <br>
                
                <div class="row">
                    <div class="col-lg-3">
                        <h4>Популярные темы</h4>
                        <input type="text" ng-model="cls" ng-init="cls=menus[0].title;" style="display: none;">
                        <ul class="nav nav-pills nav-stacked">
                            <li ng-repeat="menu in menus" role="presentation" ng-click="curPage = 0;" ng-class="cls==menu.title? 'active': ''"> <a href="#" ng-click="$parent.cls=menu.title;$parent.query = menu.query;$parent.queryMatch = menu.queryMatch;$parent.queryNotMatch = menu.queryMatchNot;">{{ menu.title }}</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <ul id="posts">
                            <li ng-repeat="post in posts | byWord:query | byRegEx:queryMatch | byRegExNot:queryNotMatch | pagination: curPage * pageSize | limitTo: pageSize">
                              <div ng-bind-html="renderHtml(post)"></div><br>
                              <a class="btn btn-primary" ng-href="http://vk.com/wall-54530371_{{post.id}}" role="button" target="_blank">Посмотреть запись ></a></p>
                              <hr>
                            </li>
                        </ul>
                        <nav>
                          <ul class="pager">
                              <li><a ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt; Предыдущая</a></li>
                              <li>   Страница {{ curPage + 1 }}   </li>
                              <li><a ng-click="curPage = curPage + 1">Следующая &gt;</a></button></li>
                          </ul>
                        </nav>
                        <form ng-submit="submitPage()">
                            <nav>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" placeholder="Введите произвольную страницу" ng-model="curPageInd">
                                    </div>
                                    <div class="col-lg-3">
                                        <button type="submit" class="btn btn-primary" value="Submit">Готово!</button>
                                    </div>
                                </div>
                            </nav>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>