/* --------------------------------------------
	АДАПТИВНОСТЬ
-------------------------------------------- */

@media (max-width: 319px) {
	.comment .comment-info li.goto-comment-parent, 
	.comment .comment-info li.goto-comment-child, 
	.comment .comment-info li.comment-favourite, 
	.comment .comment-info li.vote { display: none; }
	
	.comment { margin-bottom: 15px !important; }
	.comment-wrapper .comment-wrapper { padding-left: 0 !important; }
	#wall-container .comment { margin-bottom: 0 !important; }
	.wall-submit.wall-submit-reply { margin-left: 0 !important; }
}

@media (max-width: 479px) {
	.comment { padding-right: 10px !important; padding-left: 10px !important; min-height: 0 !important; }
	.ls-user-role-not-admin .comment.comment-deleted { padding-left: 15px !important; margin-bottom: 25px !important; }
	.comment .comment-avatar { display: none; }
	
	.profile { padding-left: 0; }
	.profile .avatar { display: none; }
	.profile .strength { display: none; }
	
	#form_talks_list .btn { margin-bottom: 10px; }
	.table.table-talk .cell-recipients { width: 80px; }
	
	.blog .blog-header { padding-left: 0; padding-right: 0; min-height: 0; }
	.blog .blog-header .avatar { display: none; }
	.blog .blog-header .vote { display: none; }
}

@media (max-width: 767px) {
	/* Модальные окна */
	.modal.modal-write .modal-dialog,
	.modal.modal-upload-photo .modal-dialog,
	.modal.modal-upload-avatar .modal-dialog { width: auto; }
	
	.blog-mini .blog-mini-header { text-align: left !important; margin-top: 10px; }
	.blog-mini .blog-mini-header a { margin-left: 0; margin-right: 10px; }
	.blog-mini .blog-mini-header .btn { margin-left: 0; }
	.blog-info { margin-bottom: 20px; }
	.blog-info dt { float: left; width: 50%; }
	.blog-info dd { margin-left: 50%; }
	
	#footer .footer-list { margin-bottom: 20px; }
	#footer .social-icons { text-align: left; margin-top: 20px; }
}

@media (max-width: 991px) {
	.sidebar { margin-top: 40px; }
}
