<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <!--
    <link href="http://theasder.github.io/css/complexity.css" rel="stylesheet">
    -->
    <link href="http://theasder.github.io/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="http://theasder.github.io/css/blog-post.css" rel="stylesheet">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?112"></script>
    <script type="text/javascript">
        VK.init({apiId: 4340751, onlyWidgets: true});
    </script>
</head>

<body>
    <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://theasder.github.io">{{ site.name }}</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="http://theasder.github.io/"><span class="glyphicon glyphicon-file"></span>  Статьи</a></li>
                        <li><a target="_blank" href="http://vk.com/page-54530371_44620320"><span class="glyphicon glyphicon-book"></span>  Каталог книг</a></li>
                        <li><a target="_blank" href="http://vk.com/page-54530371_46988280"><span class="glyphicon glyphicon-film"></span>  Видео-лекции</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                    {{ content }}
            </div>

            <div class="col-lg-3">
                <h4>Другие страницы сайта</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a target="_blank" href="http://theasder.github.io/complexity">Шпаргалка по сложности алгоритмов и структур данных</a></li>
                    <li class="list-group-item"><a target="_blank" href="http://theasder.github.io/wiki">Генератор wiki-страниц для пабликов и групп вк</a></li>
                </ul>
                        </li>
                <div id="vk_groups"></div><br />
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 54530371);
                </script>
                <div id="social">
                    <div id="vk_like"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like", {type: "button"});
                    </script>
                    <div class="fb-like" style="width:0px" data-href="http://theasder.github.io" data-layout="standard" data-action="like" data-show-faces="false" data-share="false"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://theasder.github.io/" data-via="theasdr" data-lang="en">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Библиотека программиста, 2014 г.</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

<div id="fb-root" style="overflow:hidden;width:0px"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>
