<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    <link rel="shortcut icon" href="http://theasder.github.io/favicon.ico" type="image/icon">
    <link rel="icon" type="image/icon" href="http://theasder.github.io/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Полезные материалы по всему, что может быть интересно программисту." />
    <meta name="keywords" content="программирование, веб-разработка, programming, web-development, сервисы, tools, python, regexp, git, github, проекты, прием на работу, стажировка" />
    <meta name="author" content="Artyom Dryomov">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/css/syntax.css" rel="stylesheet">
    <title>{{ page.title }}</title>
    <!-- Bootstrap core CSS -->
    <!--
    <link href="http://theasder.github.io/css/complexity.css" rel="stylesheet">
    -->
    <link href="http://theasder.github.io/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?112"></script>
    <script type="text/javascript">
         VK.init({apiId: 4340751, onlyWidgets: true});
    </script>

    <!-- Add custom CSS here -->
    <link href="http://theasder.github.io/css/blog-post.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://theasder.github.io">{{ site.name }}</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                        <li class="active"><a href="http://theasder.github.io/"><span class="glyphicon glyphicon-file"></span>  Статьи</a></li>
                        <li><a target="_blank" href="http://vk.com/page-54530371_44620320"><span class="glyphicon glyphicon-book"></span>  Каталог книг</a></li>
                        <li><a target="_blank" href="http://vk.com/page-54530371_46988280"><span class="glyphicon glyphicon-film"></span>  Видео-лекции</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-9">
                    {{ content }}
            </div>

            <div class="col-lg-3">
                
                <h4>Другие страницы сайта</h4>
                <ul class="list-group">
                    <li class="list-group-item"><a target="_blank" href="http://theasder.github.io/categories">Каталог постов по категориям</a></li>
                    <li class="list-group-item"><a target="_blank" href="http://theasder.github.io/top">Самые популярные публикации в сообществе "Библиотека программиста"</a></li>
                </ul>
                        </li>
                <div id="vk_groups"></div><br />
                <script type="text/javascript">
                    VK.Widgets.Group("vk_groups", {mode: 1, width: "220", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 54530371);
                </script>
                <div id="social">
                    <a target="_blank" href="https://www.facebook.com/ruproglib">Мы в Facebook</a><br />
                    <a target="_blank" href="https://twitter.com/ruproglib">Мы в Twitter</a><br />
                    <a target="_blank" href="https://plus.google.com/u/0/b/102152110054324607574/">Мы в Google+</a><br />

                    {% if page.url == "/index.html" %}
                    <h4>Расскажите о нашем сайте</h4>
                    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div>
                    {% endif %}
                    <br />
                    <h4>Реклама</h4>
                    <!--s_links-->Люки чугунные для смотровых колодцев легкий <a href="http://izh-reduktor.ru/tech/?SECTION_ID=307" target="_blank">http://www.izh-reduktor.ru</a><br />
                    <a href="http://arhangel-studio.com.ua/seo/" target="_blank">Раскрутка сайта</a><br />
                    Сайты для размещения объявлений бесплатно <a href="http://uren.realads.ru/" target="_blank">подробнее</a> http://uren.realads.ru/<br />
                    <!--/s_links-->
                    <!--s_links-->Самая детальная информация <a href="http://izh-reduktor.ru/niokr/linii-izgotovleniya-kompozitnoy-armatury/sostav-linii-likarr/">оборудование для стеклопластиковой арматуры тут</a><br />
                    <a href="http://fly-movies.com.ru" target="_blank">пилотажное видео</a><br />
                    Смотрите информацию <a href="http://izh-reduktor.ru/tech/litejno-mehanicheskij-zavod-liteynoe-proizvodstvo/liteynaya-produktsiya/ljuki-i-dozhdepriemniki/kupit-ljuki-chugunnye-kanalizacionnye-srednie-tip-s/" target="_blank">люк чугунный канализационный</a> на нашем сайте.<br />
                    <br /><!--/s_links-->
                    <!--s_links--><!--check code--><!--/s_links-->


                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=24910340&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24910340/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:24910340,lang:'ru'});return false}catch(e){}"/></a>
                    <!-- /Yandex.Metrika informer -->

                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                    (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                    try {
                    w.yaCounter24910340 = new Ya.Metrika({id:24910340,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
                    } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                        s = d.createElement("script"),
                        f = function () { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                        })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript><div><img src="//mc.yandex.ru/watch/24910340" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                    <!-- /Yandex.Metrika counter -->
                </div>
                <br />
<!--
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Библиотека программиста №2 
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:234px;height:60px"
                         data-ad-client="ca-pub-6621414197364714"
                         data-ad-slot="5339397381"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <!--
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    -->
                    <!-- Библиотека программиста -->
                    <!--
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-client="ca-pub-6621414197364714"
                        data-ad-slot="8403515788"
                        data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    -->    


            </div> 
        </div>
        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Библиотека программиста, 2014 г.</p>
           
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="http://theasder.github.io/js/jquery-1.10.2.js"></script>
    <script src="http://theasder.github.io/js/bootstrap.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50765579-1', 'theasder.github.io');
  ga('send', 'pageview');

</script>
<!--<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>-->
</body>

</html>
