---
layout: default
---
<h1>{{ page.title }}</h1>

<p class="time"><span class="label label-default">{{ page.category }}</span> <span class="glyphicon glyphicon-time"></span> {{ page.date | date: "%d/%m/%Y" }} </p>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Верхний блок -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6621414197364714"
     data-ad-slot="1178129788"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="post">
{{ content }}
<div class="time">Ключевые слова:
      {% for keyword in page.tags %}
      <span class="label label-primary">{{ keyword }}</span>
       {% endfor %} </div>
      <h4>Поделиться статьей</h4>
      <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
      <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareQuickServices="vkontakte,facebook,twitter,gplus" data-yashareTheme="counter"></div> 

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'proglibru'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
